.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #d6ff8c;
  overflow: hidden;
}

.marqueeContainer {
  display: flex;
  width: 200%;
  gap: 36px;
  animation: scroll 30s linear infinite, entry-animation 1s ease-out;
}

.marqueeList {
  display: flex;
  gap: 36px;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marqueeContainer:hover {
  animation-play-state: paused;
}

@keyframes entry-animation {
  from {
    filter: blur(100px);
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
