.container {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 48px;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 128px;
  height: calc(100vh - 81px - 60px - 30%);
}

.leftContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
  gap: 36px;
}

.leftContainerHeader {
  font-size: 106px;
  line-height: 118px;
  font-weight: 600;
}

.animationBox {
  overflow: hidden;
}

.hiText {
  animation: slide-down 0.7s both;
  transform: rotateY(35deg);
  animation-delay: calc(var(--banner-delay));
}

.nameText {
  animation: slide-down 0.7s both;
  animation-delay: calc(var(--banner-delay) + 0.1s);
}

.description {
  font-size: 24px;
  line-height: 36px;
}

.descriptionFirst {
  animation: slide-down 0.7s both;
  animation-delay: calc(var(--banner-delay) + 0.3s);
}

.descriptionSecond {
  animation: slide-down 0.7s both;
  animation-delay: calc(var(--banner-delay) + 0.4s);
}

.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 400px;
}

.projectLabel {
  font-size: 14px;
  font-weight: 500;
  color: rgb(162, 158, 158);
  animation: slide-down 0.7s both;
  animation-delay: calc(var(--banner-delay) + 0.4s);
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  cursor: pointer;
  border-bottom: 1px solid rgb(230, 230, 230);
  position: relative;
  animation: slide-down 1s ease-in-out both;
}

.arrowIcon {
  margin-right: 8px;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease, width 0.5s ease;
  overflow: hidden;
}

.project:hover .arrowIcon {
  transition: all 0.4s ease, width 0.5s ease;
  opacity: 1;
  transform: translateX(0);
}

.project::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.project:hover::after {
  transform: scaleX(1);
}

.projectTitle {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.808);
}

.project:hover .projectTitle {
  color: black;
}

@keyframes slide-down {
  from {
    transform-origin: left;
    filter: blur(10px);
    transform: translateY(-150%);
  }
  75% {
    filter: unset;
  }
  to {
    transform: translateY(0);
  }
}
